* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

body {
    width: 100%;
    height: auto;
}

/* header */
.nav-mobile{
    display: none;
}
header{
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 99;
}
.mid-header{
    display: flex;
    width: 100%;
    height: 75px;
    background-color: #1E1E1E;
}
.mid-cnt{
    display: flex;
    align-items: center;
}
.img-header{
    width: 115px;
    height: 47px;
    object-fit: cover;
}
.nav-bar{
    width: 100%;
}
.menu-parent-pc{
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.menu-parent-pc a{
    text-decoration: none;
    color:white;
}
.menu-parent-pc li{
    position: relative;
}
.menu-parent-pc .menu-chill-pc{
    display: none;
}
.menu-parent-pc li:hover .menu-chill-pc{
    display: block;
}
.menu-chill-pc{
    position: absolute;
    list-style: none;
    width: 250%;
    left: -50%;
    padding: 0;
    background-color: #1E1E1E;
}
.menu-chill-pc li{
    padding: 10px;
}

    /* banner */
.banner{
    width: 100%;
    height: 220px;
    position: relative;
    color: white;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7);
}
.vb-banner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title-banner{
    font-size: 48px;
}
.group-banner{
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 30px;
}
.group-banner img{
    width: 58px;
    height: 20px;
}

main{
    display: grid;
    grid-template-columns:7fr 3fr;
    padding: 0 100px;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    margin: 20px 0;
    
}
.content-main{
    padding-right: 20px;
    border-right: 1px solid #E9F3F3;
}
.title-main{
    color: #000000;
    font-size: 24px;
    font-weight: bold;
}
.lich{
    margin: 10px 0;
    display: flex;
    width: auto;
    height: auto;
    gap: 2px;
    align-items: center;
}
.lich p{
    margin: 0;
}
.lich img{
    width: 13px;
    height: 13px;
}
.img-main{
    width: 100%;
    height: 463px;
    object-fit: cover;
}
.review{
    margin: 15px 0;
    color: #101010;
    font-weight: bold;
}
.content{
    color: #101010;
    margin: 15px 0;
    p{
        margin: 0;
    }
}
.share{
    width: 100%;
    margin: 10px 0;
    display: flex;
    border-bottom: #E9F3F3 1px solid;
}
.vb-share{
    font-size: 14px;
    color:#222222;
    padding-right: 5px;
}
.icon-share{
    padding: 0 5px;
    width: 28px;
    height: 28px;
}
.group-bl{
    display: flex;
    justify-content: space-between;
}
.nhom{
    display: flex;
    width: 180px;
    justify-content: space-between;
}
.binhluan{
    height: 72px;
    border: 1px solid #E9F3F3;
}
.binhluan img{
    width: 72px;
    height: 72px;
}
.tt-binhluan{
    display: flex;
    width: auto;
    height: 14px;
    margin-top: 10px;
    a{
        color: #377AFC;
        font-size: 12px;
    }
    img{
        width: 14px;
        height: 14px;
    }
}
.tt-menu{
    color: #000000;
    font-size: 20px;
}
.menu p{
    text-decoration: none;
    color: #101010;
    margin: 20px 0;
}
.menu a{
    text-decoration: none;
}
/* share */
.share ul{
    margin-left: 10px;
}
.share .ul-reset{
    list-style-type: none;
    padding-left: 0px;
}
.share .facebook{
    width: 30px;
    height: 30px;
    color: #fff;
    background-color:#3b5998;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 3px;
}
.share .instagram{
    width: 30px;
    height: 30px;
    color: #fff;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 3px;
}
.share .twitter{
    width: 30px;
    height: 30px;
    color: #fff;
    background: #1da1f2;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 3px;
}   
.share .linkedin{
    width: 30px;
    height: 30px;
    color: #fff;
    background: #0e76a8;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0px;
    border-radius: 3px;
}
    /* footer */
.ff{
    background: url(./img/logorua.png);
    object-fit: cover;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #000000;
    background-position: bottom center;
}
.dv-footer{
    padding: 20px;
}
.ff *{
    color: #FFFFFF;
}
.ff::before{
    position: absolute;
    content: "";
    inset: 0;
    background: #00000066;
    top: 0;
    left: 0;
}
.it-footer{
    z-index: 1;
}
@media only screen and (min-width: 46.25em) and (max-width: 75em) {
    main{
        display: grid;
        grid-template-columns:3fr 1fr;
        padding: 0 20px;
    }
    .vb-sub{
        width: 90%;
    }
    .banner{
        height: 200px;
    }
}

@media only screen and (min-width: 24.375em) and (max-width: 50em) {
    *{
        font-size: 13px;
    }
    main{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 1fr;
        grid-row-gap: 20px;
        padding: 0;
        margin: 5px 10px;
    }
    .content-main{
        padding: 0;
    }
    .title-main{
        font-size: 16px;
    }
    .banner{
        width: 100%;
        height: 100px;
    }
    .banner img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.7);
    }
    .vb-banner{
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .title-banner p{
        font-size: 18px;
    }
    .group-banner{
        display: flex;
        justify-content: center;
        gap: 5px;
        height: 20px;
    }
    .group-banner img{
        width: 30px;
        height: 20px;
        object-fit: contain;
    }
    .img-main{
        width: 100%;
        height: 200px;
    }
    .icon-share{
        width: 30px;
        height: 20px;
    }
    footer{

        color: white;
        width: 100%;
        p{
            font-size: 10px;
        }
    }
    .dv-footer{
        padding: 10px 0;
    }
    /* nav */
    .nav-pc{
        display: none;
    }
    .nav-mobile{
        width: 100%;
        background-color: #1E1E1E;
        display: block;
    }
    .mobile{
        display: flex;
        position: relative;
    }
    .menu-parent{
        width: 100%;
        height: 100%;
        background-color: wheat;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
    }
    .menu-parent li{
        padding: 5px 0;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
    .menu-parent a{
        text-decoration: none;
    }
    .menu-chill{
        list-style: none;
        padding: 0;
    }
    .menu-chill li{
        border: none;
        padding-left: 20px;
    }
    .menu-chill li:hover{
        background-color: aquamarine;
    }
    .hamburger {
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        overflow: hidden;
        z-index: 99;
    
        .bar {
            position: absolute;
            width: 30px;
            height: 3px;
            background: white;
            border-radius: 3px;
            transition: all .5s;
    
            &:nth-child(1) {
                transform: translateY(-10px);
                width: 20px;
                left: 10px;
            }
    
            &:nth-child(2) {
                transform: translateY(10px);
                width: 15px;
                left: 10px;
            }
        }
    
        &.active {
            .bar {
                background: red;
    
                &:nth-child(1) {
                    width: 30px;
                    transform: translateY(0) rotate(45deg);
                }
    
                &:nth-child(2) {
                    width: 30px;
                    transform: translateY(0) rotate(315deg);
                }
    
                &:nth-child(3) {
                    transform: translateX(60px);
                }
            }
        }
    }
    /* banner */
    .title-banner p{
        font-size: 14px;
        margin: 0;
    }
    .group-banner p{
        font-size: 10px;
    }
}