* {
    margin: 0;
    padding: 0;
}

        /* header */
        .nav-mobile{
            display: none;
        }
        header{
            width: 100%;
            height: auto;
            position: sticky;
            top: 0;
            z-index: 99;
        }
        .top-header{
            display: flex;
            background-color: #000000;
            color: white;
            height: 35px;
        }
        .top-header p{
            margin: 0;
        }
        .cnt-header{
            display: flex;
            position: relative;
            align-items: center;
        }
        .right-top{
            position: absolute;
            right: 0;
            display: flex;
        }
        .right-top a{
            text-align:center ;
            text-decoration: none;
            color: white;
            margin: 0 10px;
        }
        .mid-header{
            display: flex;
            width: 100%;
            height: 75px;
            background-color: #1E1E1E;
        }
        .mid-cnt{
            display: flex;
            align-items: center;
        }
        .img-header{
            width: 115px;
            height: 47px;
            object-fit: cover;
        }
        .nav-bar{
            width: 100%;
        }
        .menu-parent-pc{
            height: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
        }
        .menu-parent-pc a{
            text-decoration: none;
            color:white;
        }
        .menu-parent-pc li{
            position: relative;
        }
        .menu-parent-pc .menu-chill-pc{
            display: none;
        }
        .menu-parent-pc li:hover .menu-chill-pc{
            display: block;
        }
        .menu-chill-pc{
            position: absolute;
            list-style: none;
            width: 250%;
            left: -50%;
            padding: 0;
            background-color: #1E1E1E;
        }
        .menu-chill-pc li{
            padding: 10px;
        }

 /* trai nghiem */
 .trainghiem{
    margin: 20px 0;
 }
/* dich vu dac biet */
.dichvudacbiet{
    margin: 20px 0;
}

.item {
    display: flex;
}

.vb-item-sub {
    margin-left: 10px;
}

.item p {
    margin: 0;
}
.slick-prev {
    position: absolute;
    top: 50%;
    background-color: yellow;
    transform: translateY(-50%);
    font-size: 0;
    z-index: 10;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 0;
}
.slick-prev::after{
    content: "<";
    font-size: 20px;
    color: rebeccapurple;

}
.slick-next {
     width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    background-color: yellow;
    top: 50%;
    right: 0;
    font-size: 0;
    transform: translateY(-50%);
    z-index: 10;
}
.slick-next::before{
    content: ">";
    color: rebeccapurple;
    font-size: 20px;
}
.top-group {
    position: relative;
    display: flex;
    margin-bottom: 10px;
}

.top-group p {
    margin: 0;
}

.xemthem {
    text-decoration: none;
    position: absolute;
    right: 0;
}

.title-group {
    font-size: 24px;
    font-weight: bold;
}

.xt {
    display: none;
}

.img-group {
    height: 400px;
    object-fit: cover;
}

#img-dichvu {
    object-position: 0px -50px;
    border-radius: 10px;
}
.dichvu{
    margin: 20px 0;
}
/* quytrinh */
.quytrinh {
    position: relative;
    width: 100%;
    height: 500px;
    color: white;
}

.item-qt {
    text-align: center;
}

.vb-quytrinh {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.top-qt {
    text-align: center;
}

.blod-quytrinh {
    color: #FFFFFF;
    font-size: 24px;
}

.quytrinh-mb {
    display: none;
}

/* befor-after */
.before {
    width: 100%;
    height: auto;
    margin: 30px 0;
}

.slick-before {
    width: 100%;
    height: auto;
}

.slick-before .slick-slide {
    margin: 0 27px;
}

.slick-before .slick-list {
    margin: 0 -27px;
}

.item-before {
    width: 45%;
    height: auto;
}

.item-before img {
    width: 100%;
}

.item-before p {
    font-weight: bold;
    margin: 0;
}
/* khong gian */
.khonggian{
    width: 100%;
    height: auto;
    position: relative;
}
.khonggian p{
    margin: 0;
}
.img-kg{
    width: 80px;
    height: 80px;
}
.item-kg{
    display: flex;
    margin: 0;
}
.vb-khonggian{
    margin-left: 10px;
}
.vb-khonggian p{
    margin:0;
}
.vb-kg{
    position: absolute;
    color: white;
    text-align: center;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 70%;
    font-size: 20px;
}
#kg-to{
    object-position: 0px -225px;
    filter: brightness(0.5);
}

/* doi ngu */
.doingu{
    width: 100%;
}
.item-dn{
    display: flex;
    align-items: center;
}
.item-dn p{
    margin: 0;
}
.img-dn{
    border-radius: 10px;
    object-fit: cover;
    object-position: 0 92%;
    width:100%; 
    height:400px
}
.item-dn img{
    object-fit: cover;
    width: 100px;
    height: 100px;
}

    /* nhan xet */
    .nhanxet{
        margin-top: 20px;
    }
    .top-nx{
        margin-bottom: 10px;
        text-align: center;
    }
    .top-nx p{
        margin: 0;
    }
    .slick-nhanxet .slick-slide {
        margin: 0 27px;
    }
    
    .slick-nhanxet .slick-list {
        margin: 0 -27px;
    }
    .item-nhanxet{
        width: 320px;
        height: 234px;
        position: relative;
    }
    .top-nhanxet-den{
        background-color: black;
        width: 100%;
        height: 6px;
    }
    .bot-nhanxet-vang{
        background-color: orange;
        width: 100%;
        height: 228px;
    }
    .top-nhanxet-vang{
        background-color: orange;
        width: 100%;
        height: 6px;
    }
    .bot-nhanxet-den{
        background-color: black;
        width: 100%;
        height: 228px;
    }
    
    .vb-nhanxet-trang{    
        position: absolute;
        bottom:5%;
        margin: 20px !important;
        p{
            color: white;
        }
    }
    .vb-nhanxet-den{    
        position: absolute;
        margin: auto;
        bottom:5%;
        margin: 20px !important;
        p{
            color: black;
        }
    }
    .chill{
        display: flex;
        align-items: center;
        margin-top: 10px;
        img{
            width: 69px;
            height: 69px;
            border-radius: 50%;
            object-fit: cover;
            object-position: 0 0;
        }
        p{
            text-align: center;
        }
    }
    .slick-dots{
        list-style: none;
        gap: 10px;
        padding: 0;
        position: absolute;
        display: flex;
        left: 50%;
        transform: translateX(-50%);
        align-items: center;
        justify-content: center;
    }
    .slick-dots button{
        width: 10px;
        height: 10px;
        border-radius: 50%;
        font-size: 0;
        background-color: antiquewhite;
    }
    .slick-dots .slick-active button{
        background-color: red;
    }
        /* san pham */
        .sanpham{
            width: 100%;
            height: auto;
            margin: 30px 0;
        }
        .slick-sanpham{
            height: auto;
        }

        .tensp{
            color: #0F54AE;
        }
        /* .slick-sanpham .slick-list {
            margin: 0 -27px;
        } */
        .item-sanpham{
            a{
                text-decoration: none;
                color: blue;
            }
        }
        .slick-sanpham .slick-slide {
            margin: 0 15px;
        }
        
        .slick-sanpham .slick-list {
            margin: 0 -15px;
        }
        .item-sanpham img{
            object-fit: contain;
            width: 100%;
            margin-bottom: 5px;
        }
        .gia{
            display: flex;
        }
        .item-sanpham p{
            margin: 0;
        }
        
        .gia-left{
            font-weight: bold;
        }
        .gia-right{
            margin-left: 15px !important;
            color: #9DA3AF;
            text-decoration: line-through;
        }
        /* blog */
        .blog{
            width: 100%;
            height: auto;
            margin: 30px 0;
        }
        .slick-blog{
            width: 100%;
            height: auto;
        }
        /* the slides */
        .slick-blog .slick-slide {
            margin: 0 10px;
        }
        
        /* the parent */
        .item-blog{
            width: 30%;
            height: 336px;
            p{
                font-weight: bold;
                margin-top: 10px;
            }
        }
        .item-blog img{
            width: 100%;
            height: 285px;
            object-fit: cover;
        }
        

        /* footer */

        .ff{
            background: url(./img/logorua.png);
            object-fit: cover;
            position: relative;
            background-size: cover;
            background-repeat: no-repeat;
            background-color: #000000;
            background-position: bottom center;
        }
        .dv-footer{
            padding: 20px;
        }
        .ff *{
            color: #FFFFFF;
        }
        .ff::before{
            position: absolute;
            content: "";
            inset: 0;
            background: #00000066;
            top: 0;
            left: 0;
        }
        .it-footer{
            z-index: 1;
        }
        

        /* nhanvien */
        .connguoi{
            margin: 20px 0;
        }
        .slick-connguoi .slick-slide {
            margin: 0 15px;
        }
        
        .slick-connguoi .slick-list {
            margin: 0 -15px;
        }
        .item-connguoi{
            height: auto;
            position: relative;
        }
        .item-connguoi img{
            width: 100%;
            height: auto;
        }
        .vb-connguoi{
            width: 100%;
            position: absolute;
            bottom: 0;
        }
        .item-connguoi p{
            margin: 0;
        }
        .name{
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 20px;
                p{
                    font-size: 14px;
                }
        }
        .to{
            font-size: 16px;
            font-weight: bold;
        }
        .xt-connguoi{
            padding: 5px;
            background-color: #FFB600;
            width: 100%;
                a{
                    text-decoration: none;
                    color:#000000;
                    font-size: 14px;
                    margin-left: 15px;
                }
        }

@media only screen and (min-width: 360px) and (max-width: 820px) {
    * {
        font-size: 14px;
    }
    /* .slick-dots{
        margin: 0;
        bottom: -15px;
    } */
    /* header-mb */
    .nav-pc{
        display: none;
    }
    .nav-mobile{
        width: 100%;
        background-color: #1E1E1E;
        display: block;
    }
    .mobile{
        display: flex;
        position: relative;
    }
    .menu-parent{
        width: 100%;
        height: 100%;
        background-color: wheat;
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
    }
    .menu-parent li{
        padding: 5px 0;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
    .menu-parent a{
        text-decoration: none;
    }
    .menu-chill{
        list-style: none;
        padding: 0;
    }
    .menu-chill li{
        border: none;
        padding-left: 20px;
    }
    .menu-chill li:hover{
        background-color: aquamarine;
    }
    .hamburger {
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        overflow: hidden;
        z-index: 99;
    
        .bar {
            position: absolute;
            width: 30px;
            height: 3px;
            background: white;
            border-radius: 3px;
            transition: all .5s;
    
            &:nth-child(1) {
                transform: translateY(-10px);
                width: 20px;
                left: 10px;
            }
    
            &:nth-child(2) {
                transform: translateY(10px);
                width: 15px;
                left: 10px;
            }
        }
    
        &.active {
            .bar {
                background: red;
    
                &:nth-child(1) {
                    width: 30px;
                    transform: translateY(0) rotate(45deg);
                }
    
                &:nth-child(2) {
                    width: 30px;
                    transform: translateY(0) rotate(315deg);
                }
    
                &:nth-child(3) {
                    transform: translateX(60px);
                }
            }
        }
    }







    .top-group {
        position: relative;
        display: block;
        margin-bottom: 10px;
    }

    .xemthem {
        display: none;
    }

    .zero {
        display: none;
    }

    .xt {
        display: block;
        width: 300px;
        margin: 10px auto;
        text-align: center;
        border: 1px solid;
    }

    .xt a {
        text-decoration: none;
    }
    .item-before img {
        width: 100%;
        height: 200px;
    }
    /* quytrinh */
    .quytrinh {
        display: none;
    }

    .quytrinh-mb {
        width: 100%;
        height: 350px;
        position: relative;
    }

    .top-qt {
        text-align: center;
    }

    .content-qt-mb {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: white;
    }

    .blod-quytrinh {
        font-size: 18px;
    }

    .quytrinh-mb {
        width: 100%;
        height: 350px;
        position: relative;
        display: block;
    }

    .top-qt {
        text-align: center;
    }

    .img-group {
        height: 200px;
        object-fit: cover;
    }

    .content-qt-mb {
        position: absolute;
        width: 100%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);
        color: white;
    }

    .blod-quytrinh {
        font-size: 18px;
    }

    .slick-slide img {
        margin: auto;
    }

    .slick-slide {
        text-align: center;
    }

    .slick-prev {
        position: absolute;
        top: 50%;
        background-color: yellow;
        transform: translateY(-50%);
        font-size: 0;
        z-index: 10;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        left: 0;
    }
    .slick-prev::after{
        content: "<";
        font-size: 20px;
        color: rebeccapurple;

    }
    .slick-next {
         width: 40px;
        height: 40px;
        border-radius: 50%;
        position: absolute;
        background-color: yellow;
        top: 50%;
        right: 0;
        font-size: 0;
        transform: translateY(-50%);
        z-index: 10;
    }
    .slick-next::before{
        content: ">";
        color: rebeccapurple;
        font-size: 20px;
    }
    /* khong gian */
    #kg-to{
        object-position: 0 -60px;
        filter: brightness(0.5);
    }
    .vb-kg{
        width: 100%;
    }
    
    /* doingu */
    .doingu{
        width: 100%;
        height: auto;
    }
    .img-dn{
        object-position: 0 0;
        width: 100%;
        height: auto;
    }
    .item-dn img {
        object-fit: cover;
        width: 80px;
        height: 80px;
    }

    /* nhan xet */
    .slick-nhanxet .slick-slide {
        margin: 0 10px;
    }
    
    .slick-nhanxet .slick-list {
        margin: 0 -10px;
    }
    .vb-nhanxet-trang {
        bottom: 10%;
        margin: 0 !important;
        p{
            font-size: 12px;
        }
    }
    .vb-nhanxet-den {
        bottom: 10%;
        margin: 0 !important;
        p{
            font-size: 12px;
        }
    }

    /* san pham */
    .slick-sanpham .slick-slide {
        margin: 0 10px;
    }
    
    .slick-sanpham .slick-list {
        margin: 0 -10px;
    }
    .gia{
        justify-content: center;
    }
    /* blog */
    .item-blog img {
        height: 250px;
    }
        
        .tt-binhluan{
            margin-top: 10px;
        }

        .dv-footer{
            padding: 10px 0;
        }
}