
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        font-family: "Roboto", sans-serif;
         font-weight: 400;
    }
    img{
        object-fit: cover;
    }
    header{
        position: sticky;
        z-index: 99;
        top: 0;
    }
    /* header */
    .top {
        display: flex;  
        align-items: center;
        position: relative;
        height: 35px;
        background-color: #000000;
        color: white;
        a {
            color: white;
            text-decoration: none;
        }
    }
    .icon-header{
        height: 16px;
    }
    .top .chucnang{
        position: absolute;
        right: 15%;
    }
    .top .hotline{
        position: absolute;
        left: 15%;
            p{
                margin: 0;
            }
    }
    
    .menuparent {
        background-color: #1E1E1E;
    
    }
    
    .menuparent a {
        color: white;
    
    }
    
    .ulmenu {
        width: 70%;
        margin: auto;
        list-style: none;
        display: flex;
        gap: 30px;
        justify-content: space-between;
        align-items: center;
    }
    
    .ulmenu li {
        position: relative;
    
        a {
            text-decoration: none;
        }
    }
    
    .ulmenu .chilmenu {
        position: absolute;
        display: none;
        list-style: none;
        padding-left: 0;
        z-index: 10;
    }
    
    .ulmenu li:hover .chilmenu {
        text-align: center;
        width: 50px;
        background-color: rgb(37, 140, 229);
    
        display: block;
    }
    
    .chilmenu a {
        color: white;
    }
    
    .chilmenu a:hover {
        color: red;
    }
    /* main */
    main{
        width: 70%;
        margin: auto;
    }
    .title-group{
        font-size: 24px;
        font-weight: bold;
    }
    .blod-item{
        font-size: 14px;
        color: #000000;
    }
    .basic-item{
        font-size: 12px;
        color: #5C5C5C;
    }
    /* trai nghiem-dich vu */
    .group{
        width: 100%;
        height: auto;
        margin: 20px 0;
    }
    .vb-item-sub{
        margin-left: 10px;
    }
    .img-group{
        border-radius: 10px;
        height: 400px;
    }
    #img-dichvu{
        object-position: 0px -50px;
    }
    #img-dichvudacbiet{
        object-position: 0 -225px;
    }
    .top-group{
        position: relative;
        display: flex;
        margin-bottom: 10px;
    }
    .xemthem{
        text-decoration: none;
        position: absolute;
        right: 0;
    }
    .bot-group{
        justify-content: space-between;
        display: flex;
        width: 100%;
        height: 81px;
        margin-top: 10px;
    }
    .item{
        display: flex;
        height: auto;
        width: 30%;
        margin: 0 5px;
    }
    
    /* quy trinh dich vu */
    .blod-quytrinh{
        font-size: 24px;
    }
    .basic-quytrinh{
        font-size: 14px;
    }
    .quytrinh{
        position: relative;
        width: 100%;
        height: 400px;
          .img-quytrinh{
            width: 100%;
            height: 400px;
            border-radius: 10px;
            filter: brightness(0.4);
          }
    }
    .vb-quytrinh{
        width: 100%;
        position: absolute;
        top: 10%;
        color: white;
        text-align: center;
    }
    .group-quytrinh{
        position: absolute;
        bottom: 10%;
        display: flex;
        width: 100%;
        height: auto;
        color: white;
        justify-content: space-between;
        padding: 0 80px;
    }
    .item-quytrinh{
        width:  133px;
        height: auto;
    }
    .item-quytrinh img{ 
        object-position: 0;
        border-radius: 50%;
        object-fit: cover;
        width: 125px;
        height: 125px;
    }
    .item-quytrinh p{
        text-align: center;
    }
    
    /* before-after */
    .before{
        width: 100%;
        height: auto;
        margin: 30px 0;
    }
    .slick-before{
        width: 100%;
        height: auto;
    }
    .slick-before .slick-slide {
        margin: 0 27px;
    }
    
    .slick-before .slick-list {
        margin: 0 -27px;
    }
    .item-before{
        width: 45%;
        height: 336px;
    }
    .item-before img{
        width: 100%;
        height: 285px;
    }
    .item-before p{
        font-weight: bold;
        margin-top: 10px;
    }
    
    
    /* khong gian thiet bi */
    .khonggian{
        width: 100%;
        height: auto;
    }
    .khonggian img{
        object-fit: cover;
        width: 100%;
        height: 380px;
        filter: brightness(0.5);
    }
    .mid-khonggian{
        position: relative;
        p{
            position: absolute;
            width: 400px;
            height: auto;
            color: white;
            bottom: 20%;
            left: 50%;
            transform: translate(-50%,0);
            text-align: center;
        }
    }
    
    .bot-khonggian{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 15px;
        width: 80%;
        height: auto;
        margin-top: 10px;
    }
    .item-khonggian{
        display: flex;
        width: auto;
        height: 81px;
    }
    .item-khonggian img{
        width: 81px;
        height: 81px;
    }
    .vb-khonggian{
        margin-left: 10px;
        align-content: center;
    }
    
    /* doi ngu */
    .connuoi{
        width: 100%;
        height: auto;
        margin: 30px 0;
    }
    .slick-connguoi{
        width: 100%;
        height: auto;
    }
    .slick-connguoi .slick-slide {
        margin: 0 27px;
    }
    
    .slick-connguoi .slick-list {
        margin: 0 -27px;
    }
    .item-connguoi{
        width: 20%;
        height: 350px;
        position: relative;
    }
    .item-connguoi img{
        width: 100%;
        height: 100%;
    }
    .ten{
        width: 100%;
        height: 56px;
        text-align: center;
        align-content: center;
        position: absolute;
        bottom: 10%;
        color: white;
    }
    
    .lala{
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 0;
        margin: 0;
        width: 100%;
        height: 35px;
        background-color: orange;
        a{
            text-decoration: none;
            color: black;
            margin-left: 10px;
        }
    }
    
    
    /* tuyen sinh */
    .tuyensinh{
        width: 100%;
        height: auto;
        margin: 30px 0;
    }
    .mid-tuyensinh img{
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: bottom;
    }
    .bot-group{
        width: 100%;
        height: 81px;
    }
    .item-tuyensinh{
        display: flex;
        width: 20%;
        height: 100%;
        align-items: center;
    }
    .item-tuyensinh img{
        width: 81px;
        height: 81px;
    }
    .vitri{
        margin-left: 10px;
    }
    
    /* nhan xet */
    
    .nhanxet{
        width: 100%;
        height: auto;
        margin: 30px 0;
    }
    .slick-nhanxet .slick-slide {
        margin: 0 27px;
    }
    
    .slick-nhanxet .slick-list {
        margin: 0 -27px;
    }
    .top-nhanxet{
        width: 100%;
        height: 43px;
        p{
            text-align: center;
        }
    }
    .item-nhanxet{
        width: 320px;
        height: 234px;
        position: relative;
    }
    .top-nhanxet-den{
        background-color: black;
        width: 100%;
        height: 6px;
    }
    .bot-nhanxet-vang{
        background-color: orange;
        width: 100%;
        height: 228px;
    }
    .top-nhanxet-vang{
        background-color: orange;
        width: 100%;
        height: 6px;
    }
    .bot-nhanxet-den{
        background-color: black;
        width: 100%;
        height: 228px;
    }
    
    .vb-nhanxet-trang{    
        position: absolute;
        bottom:5%;
        margin: 20px !important;
        p{
            color: white;
        }
    }
    .vb-nhanxet-den{    
        position: absolute;
        margin: auto;
        bottom:5%;
        margin: 20px !important;
        p{
            color: black;
        }
    }
    .chill{
        display: flex;
        align-items: center;
        margin-top: 10px;
        img{
            width: 69px;
            height: 69px;
            border-radius: 50%;
            object-fit: cover;
            object-position: 0 0;
        }
        p{
            text-align: center;
        }
    }
    
    /* san pham */
    .sanpham{
        width: 100%;
        height: auto;
        margin: 30px 0;
    }
    .slick-sanpham{
        height: auto;
    }
    .slick-sanpham .slick-slide {
        margin: 0 27px;
    }
    .tensp{
        color: #0F54AE;
    }
    .slick-sanpham .slick-list {
        margin: 0 -27px;
    }
    .item-sanpham{
        width: 220px;
        a{
            text-decoration: none;
            color: blue;
        }
    }
    .item-sanpham img{
        width: 220px;
        height: 264px;
    }
    .gia{
        display: flex;
    }
    .gia-left{
        font-weight: bold;
    }
    .gia-right{
        margin-left: 10px;
        color: #9DA3AF;
        text-decoration: line-through;
    }
    
    /* blog */
    .blog{
        width: 100%;
        height: auto;
        margin: 30px 0;
    }
    .slick-blog{
        width: 100%;
        height: auto;
    }
    /* the slides */
    .slick-blog .slick-slide {
        margin: 0 27px;
    }
    
    /* the parent */
    .slick-blog .slick-list {
        margin: 0 -27px;
    }
    .item-blog{
        width: 30%;
        height: 336px;
        p{
            font-weight: bold;
            margin-top: 10px;
        }
    }
    .item-blog img{
        width: 100%;
        height: 285px;
        object-fit: cover;
    }
    
    /* footer */
    footer{
        background-image: url(img/logorua.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #000000;
        color: white;
        padding: 30px 0;
    }
    .img-footer{
        position: absolute;
        width: 80%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        filter:brightness(0.4);
    }
    .img-sub{
        width: 115px;
        height: 47px;
    }
    .vb-footer{
        width: 80%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
    }
    .vb-sub{
        display: flex;
        justify-content: space-between;
    }
    .tt-sub{
        font-weight: bold;
    }
    .mid{
        text-align: center;
    }
    .group-footer{
        position: relative;
        width: 100%;
        height: auto;
        background-color: #9DA3AF;
    }
    .img-group-footer{
        object-fit: cover;
        width: 222px;
        height: 148px;
        filter: brightness(0.5);
    }
    .page-footer{
        position: absolute;
        top: 5%;
        left: 10px;
        display: flex;
        width: 100%;
        height: 100%;
    }
    .logo-footer{
        object-fit: contain;
        background-color: #000000;
        width: 55px;
        height: 55px;
        border-radius: 50%;
    }
    .bot-group-footer{
        width: 150px;
        height: 30px;
        display: flex;
    }
    .icon-footer{
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
    /* lich */
    .datlich{
        position: absolute;
        top: 450px;
        left: 50%;
        transform: translate(-50%);
        background-image: linear-gradient(#6F1E1E, #C41111);
        width: 25%;
        height: 130px;
        display: block;
        display: block;
        align-content: center;
        margin: auto;
        text-align: center;
        color: white;
    }
    .dat{
        margin-top: 15px;
    }
    .goi{
        top: 625px;
        left: 1345px;
        position: absolute;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background-color: #FFB600;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }