*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
body{
    width: 100%;
    height: auto;
}
    /* header */
header{
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;
    height: 75px;
    display: flex;
    align-content: space-between;
    align-items: center;
    background-color:#1E1E1E;
        a{
            color: #FFFFFF;
            text-decoration: none;
        }
}
.img-header{
    width: 115px;
    height: 47px;
}
.menu-parent{
    display: flex;
    height: 16px;
}
.menu-parent li{
    position: relative;
    list-style: none;
    display: flex;
    align-items: center;
}
.menu-parent .menu-chill{
    display: none;
    position: absolute;
    list-style: none;
    z-index: 10;
}
.menu-parent li:hover .menu-chill{
    display: block;
}

